<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJaPzJ7g_U8oS01eOaPCcG4PCuk8EfvqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>504303356052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.xcode.com.SwiftFirebase</string>
	<key>PROJECT_ID</key>
	<string>swiftfirebase-427ee</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftfirebase-427ee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504303356052:ios:933ae77f2e50d990a04c81</string>
</dict>
</plist>